$font-stack: Helvetica sans-serif;
$primary-color: #333;
$menu-color: rgb(237, 237, 237);
$font-color: #FFFF;
$font-size: 2rem;
%center-shared {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    font: $font-stack;
    .casella {
        background-color: $menu-color;
        border: 4px solid $primary-color;
    }
    .p {
        color: black;
    }
}